.myLoading {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px dashed teal;
    animation: Loading 1.5s;
    animation-iteration-count: infinite;
}
@keyframes Loading {
    from{
        transform: rotateZ(0deg);
        scale: 1;
    }
    to{
        transform: rotateZ(360deg);
        scale: 1.3;
    }
}